.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home h1 {
  color: #3141d0;
  font-size: 4rem;
}

.home-title {
  margin-left: 10rem;
  margin-top: -10rem;
}

.home .app-homeBackground {
  height: 35rem;
  margin-top: 5rem;
}

.home-buttons {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
